[submodule "src/app/SvpwmFoc"]
	path = src/app/SvpwmFoc
	url = https://github.com/pa-CommonLib-parts/SvpwmFoc_pa_CommonLib.git
[submodule "src/service/display/ili9341"]
	path = src/service/display/ili9341
	url = https://github.com/pa-CommonLib-parts/ili9341_pa_CommonLib.git
[submodule "src/service/display/ssd1306"]
	path = src/service/display/ssd1306
	url = https://github.com/pa-CommonLib-parts/ssd1306_pa_CommonLib.git
[submodule "src/service/TI_Chips/Ads_112c04"]
	path = src/service/TI_Chips/Ads_112c04
	url = https://github.com/pa-CommonLib-parts/Ads_112c04_pa_CommonLib.git
[submodule "src/service/sensors/attitude/AS5048A"]
	path = src/service/sensors/attitude/AS5048A
	url = https://github.com/pa-CommonLib-parts/AS5048A_pa_CommonLib.git
